include README.md
include LICENSE
include requirements.txt
include pyproject.toml
recursive-include tabularbert *.py
recursive-include tabularbert *.md
recursive-include tabularbert *.txt
recursive-exclude tabularbert __pycache__
recursive-exclude tabularbert *.pyc
recursive-exclude tabularbert *.pyo
recursive-exclude tabularbert .DS_Store
exclude .git*
exclude .gitignore
exclude *.log
exclude .pytest_cache
exclude build
exclude dist
exclude *.egg-info
