include README.md
include LICENSE
include requirements.txt
include pyproject.toml
recursive-include tabular_bert *.py
recursive-include tabular_bert *.md
recursive-include tabular_bert *.txt
recursive-exclude tabular_bert __pycache__
recursive-exclude tabular_bert *.pyc
recursive-exclude tabular_bert *.pyo
recursive-exclude tabular_bert .DS_Store
exclude .git*
exclude .gitignore
exclude *.log
exclude .pytest_cache
exclude build
exclude dist
exclude *.egg-info
